@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap');
@import url(//db.onlinewebfonts.com/c/aae462773966100890bdfe4a8188cc0a?family=Marker+Felt);
body {
    margin: 0;
    padding: 0;
    background-image: url(../images/andrey-haimin-q2Fyzn-KJOQ-unsplash\ \(1\).jpg);
    background-size: 150vw;
    background-color: burlywood;
    overflow: hidden;

}

img {
    max-width: 100%;
    max-height: 100%;
}


main {
    display: grid;
    grid-template-areas: "game info";
    grid-gap: 5vw;
    grid-template-columns: 65% 1fr;
}

#screen {
    position: relative;
    margin-left: 25px;
    grid-area: game;
    width: 64vw;
    height: 36vw;
    border: 4px burlywood solid;
    overflow: hidden;

}

#game {
    width: 100%;
    height: 100%;
}

#game_background {
    width: 100%;
    height: 100%;

}

#game_sprites {
    width: 100%;
    height: 100%;
}

#game_foreground {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#game_ui {
    width: 100%;
    height: 5vh;
    position: absolute;
    top: 0vw;
    display: flex;
    justify-content: space-around
}


#score_board {
    position: absolute;
    /* left: 50vw; */
    right: 53vw;
    top: 23vw;
    width: 12vw;
    height: 8vw;
    background-image: url(../svgs/score_screenArtboard\ 1.svg);
    background-size: 10vw;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Marker Felt;
    color: black;
    font-size: 3vw;
}

#current_points {
    position: absolute;
    right: 7.5vw;
    bottom: 2.5vw;
    font-size: 2.5vw;
}

#health_board {
    position: absolute;
    right: 53vw;
    top: 15vw;
    width: 12vw;
    height: 8vw;
    background-size: 10vw;
    background-position: center;
    background-repeat: no-repeat;


}

.hbg4 {
    background-image: url(../svgs/full_heart_screen_artboard.svg);

}

.hbg3 {
    background-image: url(../svgs/one_heart_screen_artboard.svg);

}

.hbg2 {
    background-image: url(../svgs/two_heart_screen_artboard.svg);

}

.hbg1 {
    background-image: url(../svgs/no_heart_screen_artboard.svg);

}


#time_board {
    width: 15vw;
    display: flex;
    align-items: center;
    font-family: Marker Felt;
    color: black;
    font-size: 3vw;
}


aside {padding: 0vw;
    max-width: 35vw;
    max-height: 100vw;
    margin-right: 0vw;
    margin-left: 0vw;
    margin-top: -4vw;
    grid-area: info;
    background-color: burlywood;
 
}


#instructions_devil_cow {
    position: relative;
    width: 8vw;
}

#instructions_cow {
    position: relative;
    top: -25vw;
    width: 8vw;
}


#one_heart {
    position: relative;
    top: -5.5vw;
    right: -12vw;
    width: 5vw;
}

footer {
    margin: 0;
    padding: 0;
    height: 8vw;
    width: 100vw;
    background-color: burlywood;
    position: absolute;
    bottom: 0;
}

ul {
    background-color: burlywood;
    width: 7vw;
    max-height: 4vw;
    margin-left: 1.7vw;
    margin-top: -2vw;
    padding: 2px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

li {
    float: left;
    margin-left: 1vw;
}



/* container*/
#a_container1 {
    position: absolute;
}

#a_containerA {
    position: absolute;
}

#a_container2 {
    position: absolute;

}

#a_containerB {
    position: absolute;

}

/* positions*/
.position1 {
    top: 10vw;
    left: -10vw;
}

.position2 {
    top: 12vw;
    left: -10vw;
}

.position3 {
    top: 15vw;
    left: -10vw;
}



/* sprites*/
#cow {
    max-width: 8vw;
    max-height: 7.74vw;
    background-size: 100%;
}

#cowA {
    max-width: 8vw;
    max-height: 7.74vw;
    background-size: 100%;
}

/* movements */
#devil_cow {
    max-width: 8vw;
    max-height: 7.74vw;
    background-size: 100%;
}

#devil_cowB {
    max-width: 8vw;
    max-height: 7.74vw;
    background-size: 100%;
}

/* movements */
.moveRight1 {
    animation: moveRight1 2s  ease-out infinite;
}

.moveRight2 {
    animation: moveRight 3s  steps(20, jump-start) infinite;
}

.moveRight3 {
    animation: moveRight 2s ease-in-out infinite reverse;
}

@keyframes moveRight1 {
    0% {
        transform: translate(10vw, -10vw)scale(1, 1);
    }

    50% {
        transform: translate(25vw, -5vw)scale(1.5, 1.5);
    }

    75% {
        transform: translate(65vw, -10vw)scale(1, 1);
    }

    100% {
        transform: translate(85vw, -5vw)scale(1.5, 1.5);
    }
}

@keyframes moveRight {
    from {
        transform: translateX(70vw)scale(1, 1);
    }

    from {
        transform: translateX(70vw)scale(1.5, 1.5);
    }


}

.moveLeft1 {
    animation: moveLeft1 2s  ease-in infinite;
}

.moveLeft2 {
    animation: moveLeft 2s  linear infinite alternate-reverse;
}

.moveLeft3 {
    animation: moveLeft 3s  steps(15, jump-start) infinite reverse;
}

@keyframes moveLeft1 {
    0% {
        transform: translate(0vw, -12vw) scale(1, 1);
    }

    50% {
        transform: translate(30vw, -6vw) scale(1.5, 1.5);
    }

    75% {
        transform: translate(50vw, -9vw) scale(1, 1);
    }

    100% {
        transform: translate(80vw, -3vw) scale(1.5, 1.5);
    }
}

@keyframes moveLeft {
    from {
        transform: translateX(70vw)scale(1, 1);
    }

    from {
        transform: translateX(70vw) scale(1.5, 1.5);
    }

}

/* roate and paused */
.rotate {
    animation: rotate 1s linear;
}

@keyframes rotate {
    to {
        transform: rotate(720deg);
    }
}



.paused {
    animation-play-state: paused;
}

/* nav */

nav{text-decoration: none;}





/* FARMERS */

#sad_farmer {
    background-image: url(../svgs/sad_farmer_artboard.svg);
    position: absolute;
    top: 30vw;
    right: 30vw;
    width: 50vw;
    height: 50vw;
    background-size: 7vw;
    background-position: right;
    background-repeat: no-repeat;
}

#happy_farmer {
    background-image: url(../svgs/happy_farmer_artboard.svg);
    position: absolute;
    top: 30vw;
    right: 30vw;
    width: 50vw;
    height: 50vw;
    background-size: 7vw;
    background-position: right;
    background-repeat: no-repeat;
}

#thinking_farmer {
    background-image: url(../svgs/thinking_farmer_artboard.svg);
    position: absolute;
    top: 30vw;
    right: 30vw;
    width: 50vw;
    height: 50vw;
    background-size: 7vw;
    background-position: right;
    background-repeat: no-repeat;
}

/* SCREENS */
#title_screen {
    background-image: url(../svgs/title_screen_artboard.svg);
    position: absolute;
    top: -35vw;
    left: -20vw;
    width: 100vw;
    height: 100vw;
    background-size: 25vw;
    background-position: center;
    background-repeat: no-repeat;



}

#instructions {
    background-image: url(../svgs/title_screen_artboard.svg);
    position: absolute;
    top: -35vw;
    left: -20vw;
    width: 100vw;
    height: 100vw;
    background-size: 25vw;
    background-position: center;
    background-repeat: no-repeat;

}

#empty_bg {
    position: absolute;
    bottom: 29vw;
    right: 16vw;
    width: 64vw;
    height: 36vw;
    z-index: -1;
}

#empty_bg_you_won,
#empty_bg_game_over {
    position: absolute;
    bottom: 29vw;
    right: 16vw;
    width: 64vw;
    height: 36vw;
    z-index: -1;
}

#you_won,
#game_over {
    background-image: url(../svgs/title_screen_artboard.svg);
    position: absolute;
    top: -35vw;
    left: -20vw;
    width: 100vw;
    height: 100vw;
    background-size: 25vw;
    background-position: center;
    background-repeat: no-repeat;
}


/* buttons */


#mute {
    background-image: url(../svgs/no_sound_buttonAsset\ 2.svg);
    position: absolute;
    top: 0vw;
    right: 59vw;
    width: 2vw;
    height: 2vw;
    background-size: 2vw;
    background-position: center;
    background-repeat: no-repeat;
}
#unmute {
    background-image: url(../svgs/sound_buttonAsset\ 1.svg);
    position: absolute;
    top: 0vw;
    right: 62vw;
    width: 2vw;
    height: 2vw;
    background-size: 2vw;
    background-position: center;
    background-repeat: no-repeat;
}
#go_button {
    background-image: url(../svgs/you_go_buttonAsset\ 32.svg);
    position: relative;
    top: -3vw;
    width: 100vw;
    height: 100vw;
    background-size: 4vw;
    background-position: center;
    background-repeat: no-repeat;
}

#info_button {
    background-image: url(../svgs/info_buttonAsset\ 26.svg);
    position: absolute;
    top: 42.5vw;
    right: 37.8vw;
    width: 5vw;
    height: 5vw;
    background-size: 1.5vw;
    background-position: center;
    background-repeat: no-repeat;
}

#play_button {
    background-image: url(../svgs/play_buttonArtboard\ 1.svg);
    position: absolute;
    top: 47vw;
    right: 40vw;
    width: 20vw;
    height: 20vw;
    background-size: 7vw;
    background-position: center;
    background-repeat: no-repeat;
}

#exit_button {
    background-image: url(../svgs/exit_buttonAsset\ 38.svg);
    position: absolute;
    top: 35.1vw;
    right: 30.2vw;
    width: 20vw;
    height: 20vw;
    background-size: 1.5vw;
    background-position: center;
    background-repeat: no-repeat;
}

#play_again_button_won,
#play_again_button {
    background-image: url(../svgs/play_again_buttonArtboard\ 13.svg);
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 51vw;
    right: 45vw;
    background-size: 11vw;
    background-position: center;
    background-repeat: no-repeat;
}

#home_button_won,
#home_button {
    background-image: url(../svgs/home_buttonAsset\ 42.svg);
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 40.3vw;
    right: 35.2vw;
    background-size: 1.8vw;
    background-position: center;
    background-repeat: no-repeat;
}

/* TEXT */
h1 {
    position: relative;
    text-align: center;
    font-family: marker felt;
    font-size: 3vw;
    color: white;
    top: 44vw;
    right: 0vw;

}

h2 {
    position: relative;
    text-align: center;
    font-family: marker felt;
    font-size: 1.1vw;
    color: white;
    top: 45vw;
    right: -42vw;
    width: 15vw;
    height: 5vw;

}

h3 {
    position: relative;
    text-align: center;
    font-family: marker felt;
    font-size: 1vw;
    color: white;
    top: 43vw;
    right: -42vw;
    width: 15vw;
    height: 5vw;

}

h4 {
    position: relative;
    text-align: center;
    font-family: marker felt;
    font-size: 1.5vw;
    color: white;

}

h5 {
    position: relative;
    text-align: center;
    font-family: marker felt;
    font-size: 2vw;
    color: white;
}

h6 {
    margin: none;
    position: relative;
    top: -20vw;
    right: -10vw;
    font-size: 4vw;
    color: white;
}

h7 {
    font-family: marker felt;
    position: relative;
    top: -30.5vw;
    right: -10vw;
    font-size: 3vw;
    color: white;
}

h8 {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 1vw;
    color: white;
}

.hidden {
    visibility: hidden;
}